---
import Layout from "../../layouts/Layout.astro";
import { Play } from "../../icons/Play.jsx";
import MoreOptiosnIcon from "../../icons/MoreOptionsIcon.astro";
import { Shuffle } from "../../icons/Shuffle";
import Download from "../../icons/Download.astro";
import SaveIcon from "../../icons/SaveIcon.astro";
import ListIcon from "../../icons/ListIcon.astro";
import { MusicsTable } from "../../components/MusicsTable.jsx";
import { playlists } from "../../data/playlists";
import { Image } from "astro:assets";

const { id } = Astro.params;

// cast to string because the id for param is a string
const playlist = playlists.find((playlist) => playlist.id.toString() === id);

const backgroundColor = playlist?.color?.dark || "#121212";
---

<Layout title={playlist?.name ?? "Playlist"}>
  <section class='@container mt-20 pt-3 relative'>
    <div class='flex flex-row gap-5 px-6 pb-8 relative'>
      <div
        id='banner-playlist-background'
        class='custom-bg absolute -z-[10] w-full h-[350px] left-0 top-0 -mt-[92px]'
        style={`--custom-bg-color: ${backgroundColor};`}
        data-banner-color='#134e4a'
      >
      </div>
      <div class='flex'>
        <Image
          src={playlist?.bannerImg ?? "/spotify-logo.webp"}
          alt='`Portada de la playlist ${playlist?.name}`}'
          class='min-w-32 min-h-32 w-full h-full max-w-56 max-h-56'
          style='box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);'
          width={128}
          height={128}
          loading={"eager"}
        />
      </div>
      <div class='flex flex-col text-white justify-end gap-3 truncate'>
        <span class=''>{playlist?.type} pública</span>
        <div
          class='relative overflow-visible whitespace-nowrap @md:overflow-visible @md:whitespace-normal'
        >
          <h1
            class='text-4xl @2xl:text-5xl @4xl:text-5xl font-bold ml-[-3px] inline-block
            whitespace-nowrap animate-[scroll-loop_20s_linear_infinite] @md:block @md:whitespace-nowrap @md:animate-none'
          >
            <span>{playlist?.name}</span>
            <span class='inline @md:hidden'>&nbsp;</span>
            <span class='inline @md:hidden'>{playlist?.name}</span>
            <span class='inline @md:hidden'>&nbsp;</span>
            <span class='inline @md:hidden'>{playlist?.name}</span>
            <span class='inline @md:hidden'>&nbsp;</span>
            <span class='inline @md:hidden'>{playlist?.name}</span>
          </h1>
        </div>
        <span class='text-sm @2xl:text-base'>{playlist?.description}</span>
        <div class='flex flex-row gap-2 items-center mt-1.5'>
          <Image
            src={playlist?.profileImg ?? "/spotify-logo.webp"}
            alt={`Foto de perfil del autor ${playlist?.author}`}
            width={24}
            height={24}
            class='max-w-5 @2xl:max-w-6 rounded-full'
          />
          <p class='text-sm @2xl:text-base mt-[-2px]'>
            <span class='font-bold'>{playlist?.author}</span> • 7 canciones, 28 min,
            45 s
          </p>
        </div>
      </div>
    </div>
    <div class='flex flex-row px-6 py-7 items-center justify-between relative'>
      <div
        id='playlist-background'
        class='custom-bg absolute -z-[10] w-full h-[232px] left-0 top-0'
        style={`--custom-bg-color: ${backgroundColor};`}
      >
      </div>
      <div class='flex flex-row gap-[16px] @md:gap-[20px] items-center'>
        <div
          class='rounded-full bg-green-500 p-[14px] @sm:p-[18px] cursor-pointer flex items-center
          justify-center hover:scale-105 transition-scale duration-200 ease-out'
        >
          <Play />
        </div>
        <figure class='option-icon' aria-label='Guardar playlist'>
          <SaveIcon />
        </figure>
        <figure
          class='option-icon hidden @sm:block'
          aria-label='Reproducir aleatoriamente'
        >
          <Shuffle size={7} />
        </figure>
        <figure
          class='option-icon hidden @md:block'
          aria-label='Descargar playlist'
        >
          <Download size='7' />
        </figure>
        <figure class='option-icon' aria-label='Más opciones'>
          <MoreOptiosnIcon />
        </figure>
      </div>
      <div class='flex flex-row gap-3 items-center cursor-pointer group'>
        <span class='font-medium mt-[-1.5px]'>Lista</span>
        <figure
          class='fill-[#B4B4B8] group-hover:fill-white group-hover:text-white transition-all duration-200 ease-out'
          aria-label='Ver lista de reproducción'
        >
          <ListIcon />
        </figure>
      </div>
    </div>
    <MusicsTable type='all' client:load />
  </section>
</Layout>
