---
import Layout from "../../layouts/Layout.astro";
import { Play } from "../../icons/Play.jsx";
import MoreOptiosnIcon from "../../icons/MoreOptionsIcon.astro";
import { Shuffle } from "../../icons/Shuffle";
import Download from "../../icons/Download.astro";
import SaveIcon from "../../icons/SaveIcon.astro";
import ListIcon from "../../icons/ListIcon.astro";
import { MusicsTable } from "../../components/MusicsTable.jsx";
import { playlists } from "../../data/playlists";

const { id } = Astro.params;

// cast to string because the id for param is a string
const playlist = playlists.find((playlist) => playlist.id.toString() === id);

const backgroundColor = playlist?.color?.dark || "#121212";
---

<Layout title='Spotify Clone'>
  <section class='mt-20 py-3 relative'>
    <div class='flex flex-row gap-5 px-6 pb-8 relative'>
      <div
        id='banner-playlist-background'
        class='custom-bg absolute -z-[10] w-full h-[350px] left-0 top-0 -mt-[92px]'
        style={`--custom-bg-color: ${backgroundColor};`}
        data-banner-color='#134e4a'
      >
      </div>
      <div class='flex'>
        <img
          src={playlist?.bannerImg}
          class='w-56 h-56'
          style='box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);'
        />
      </div>
      <div class='flex flex-col text-white justify-end gap-3'>
        <span class=''>{playlist?.type} pública</span>
        <h1 class='text-6xl font-bold ml-[-3px]'>{playlist?.name}</h1>
        <span>{playlist?.description}</span>
        <div class='flex flex-row gap-2 items-center mt-1.5'>
          <img src={playlist?.profileImg} class='max-w-6 rounded-full' />
          <p class='mt-[-3px]'>
            <span class='font-bold'>{playlist?.author}</span> • 7 canciones, 28 min,
            45 s
          </p>
        </div>
      </div>
    </div>
    <div class='flex flex-row px-6 py-7 items-center justify-between relative'>
      <div
        id='playlist-background'
        class='custom-bg absolute -z-[10] w-full h-[232px] left-0 top-0'
        style={`--custom-bg-color: ${backgroundColor};`}
      >
      </div>
      <div class='flex flex-row gap-[20px] items-center br'>
        <div
          class='rounded-full bg-green-500 p-[18px] cursor-pointer flex items-center
        justify-center hover:scale-105 transition-scale duration-200 ease-out'
        >
          <Play />
        </div>
        <figure class='option-icon'>
          <SaveIcon />
        </figure>
        <figure class='option-icon'>
          <Shuffle size={7} />
        </figure>
        <figure class='option-icon'>
          <Download size='7' />
        </figure>
        <figure class='option-icon'>
          <MoreOptiosnIcon />
        </figure>
      </div>
      <div class='flex flex-row gap-3 items-center cursor-pointer group'>
        <span class='font-medium mt-[-1.5px]'>Lista</span>
        <figure
          class='fill-[#B4B4B8] group-hover:fill-white group-hover:text-white transition-all duration-200 ease-out'
        >
          <ListIcon />
        </figure>
      </div>
    </div>
    <MusicsTable client:load />
  </section>
</Layout>
