---
import { Image } from "astro:assets";
import type { Playlist } from "../../data/playlists";
import { Play } from "../../icons/Play.jsx";

interface Props {
  playlists: Playlist[];
}

const { playlists } = Astro.props;
---

<div class='@container px-5'>
  <div class='flex flex-row justify-between items-center'>
    <h1
      class='text-2xl font-bold tracking-normal cursor-pointer hover:underline'
      aria-label='Sección de playlists recomendadas'
    >
      Hecho para Nekolas
    </h1>
    <span
      class='text-slate-300 text-sm tracking-wide font-bold cursor-pointer hover:underline hidden @sm:block'
      aria-label='Mostrar todas las playlists recomendadas'
    >
      Mostrar todos
    </span>
  </div>
  <div class='mt-5 recommended-container -mx-3'>
    {
      playlists.map((playlist) => {
        return (
          <a
            class='recommended-card p-3 bg-transparent cursor-pointer rounded-lg
            hover:bg-[#1f1f1f] transition-all duration-200 ease'
            href={`/playlist/${playlist.id}`}
            data-color={playlist.color?.accent}
            aria-label={`Abrir playlist: ${playlist.name}`}
          >
            <div class='flex relative'>
              <Image
                src={playlist.bannerImg}
                inferSize
                loading='eager'
                alt={`Portada de la playlist ${playlist.name}`}
                class='w-full rounded-md'
              />
              <div
                class='shadow-below rounded-full bg-green-500 p-3.5 cursor-pointer 
          flex items-center justify-center absolute bottom-0 right-0 mr-2 mb-2
          hover:scale-105 transition-all duration-200 ease-out'
                aria-label={`Reproducir playlist ${playlist.name}`}
              >
                <Play />
              </div>
            </div>
            <div class='flex flex-col gap-1 pt-2'>
              <h1
                class='text-base font-medium'
                aria-label={`Nombre de la playlist: ${playlist.name}`}
              >
                {playlist.name}
              </h1>
              <span
                class='text-[#b3b3b3] text-wrap'
                aria-label={`Descripción de la playlist: ${playlist.description}`}
              >
                {playlist.author}
              </span>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
